/* MARK: FEATURE/SUPPORT DETECTION 
*/

/* FEATURE DETECTION */

/* https://github.com/OliverBrotchie/CSS-Fingerprint */
.body {
  --unique-identifier: 'foo'; // unique generated ID
  --pointer: 'none';
  --theme-preference: 'none';
  
  // Only make one request
  background-image: url("/some/url/?" + var(--unique-identifier) + "&" + var(--pointer) + "&" + var(--theme-preference));
}

// Detect pointer type and theme
@media (any-pointer: coarse){
  body {
    --pointer: 'coarse';
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --theme-preference: 'dark';
  }
}

/* SUPPORT DETECTION */

/* MARK: SUPPORT DETECTION
*/

/* https://www.bram.us/2026/03/15/at-rule/
March 15, 2026
Detect at-rule support in CSS with @supports at-rule(@keyword)
CSS Conditional Rules Module Level 5 specification has solidified how this feature works and Chromium (Chrome, Edge, etc.) is about to ship it in Chromium 148!

The solution (Updated)
The core idea remains the same as back in 2022: use the at-rule() function within an @supports query to check if a user agent recognizes a specific at-rule.

@supports at-rule(@starting-style) {
  /* CSS for browsers that support @starting-style here …
}
The function simply checks if the browser would accept an at-rule in any context. This is super useful for detecting entire new features like @starting-style.

You can also use at-rule() in the supports-condition when doing an @import:
This CSS only gets imported when @view-transition is supported (and the browser supports at-rule() as well)
@import "view-transitions.css" supports(at-rule(@view-transition));
*/

/* https://codepen.io/bramus/pen/LERWgbe?editors=110 */

/* https://codepen.io/D7460N/pen/ogzGNZp?editors=1100 */
#output::after {
	content: "❌ Your browser does not @supports at-rule(…)";
	background-color: #ff00002b;

	display: block;
	margin: 1em 0;
	padding: 1em;
	border: 1px solid #ccc;
}

@supports(at-rule(@supports)) {
	#output::after {
		content: "✅ Your browser supports @supports at-rule(…)";
		background-color: #00ff002b;
	}
}

pre {
	border: 1px solid #dedede;
	padding: 1em;
	background: #f7f7f7;
	font-family: "Courier 10 Pitch", Courier, monospace;
	overflow-x: auto;
}

code {
	font-size: 0.9em;
}

html {
	max-width: 76ch;
	padding: 3rem 2rem;
	margin: auto;
	line-height: 1.5;
	font-size: 1.25rem;
}
body {
	margin: 0;
	padding: 0;
}
a,
a:visited {
	color: blue;
}

/*
<h1>CSS <code>@supports at-rule()</code> Support Test</h1>
<p id="output">Does your browser support <a href="https://brm.us/at-rule" target="_top"><code>@supports at-rule(…)</code></a>?</p>
*/
