/* MARK: RESET
*/
*,
* *,
*:before,
*:after,
::after,
::before {
  --transition-property: display, color, border, opacity;
  --transition-duration: 250ms;
  --transition-timing-function: ease;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
  transition-behavior: allow-discrete;
  transition-property: var(--transition-property);
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

/* https://drafts.csswg.org/selectors-4/#typedef-forgiving-selector-list
      - Forgiving selector list
      - Specificity == 0 */
:where(img,
  picture,
  video,
  canvas,
  svg) {
  display: block;
  max-inline-size: 100%;
}

/* https://drafts.csswg.org/selectors-4/#typedef-forgiving-selector-list
                    - Forgiving selector list
                    - Specificity == 0 */
:where(button,
  input,
  select,
  textarea) {
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: currentColor;
}
